anaconda-client==1.6.2
appdirs==1.4.2
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.5.3
bokeh==0.11.1
chainer==1.21.0
cloudpickle==0.1.1
clyent==1.2.2
conda==4.2.12
cycler==0.10.0
Cython==0.23.5
decorator==4.0.10
dill==0.2.5
fastcache==1.0.2
filelock==2.0.7
graphviz==0.5.2
h5py==2.6.0
ipykernel==4.5.2
ipython==5.1.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
Jinja2==2.8
jsonschema==2.5.1
jupyter-client==4.4.0
jupyter-core==4.2.1
jupyterhub==0.7.1
Keras==1.2.2
llvmlite==0.8.0
MarkupSafe==0.23
matplotlib==1.5.3
mistune==0.7.3
mpmath==0.19
nbconvert==4.2.0
nbformat==4.2.0
networkx==1.11
nose==1.3.7
notebook==4.3.1
numba==0.23.1
numexpr==2.6.2
numpy==1.11.3
olefile==0.44
packaging==16.8
pamela==0.3.0
pandas==0.19.2
patsy==0.4.1
pexpect==4.2.1
pickleshare==0.7.3
Pillow==4.0.0
prompt-toolkit==1.0.9
protobuf==3.2.0
ptyprocess==0.5.1
pycosat==0.6.1
pycrypto==2.6.1
pydot==1.2.3
pydot-ng==1.0.0
Pygments==2.1.3
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
PyYAML==3.11
pyzmq==16.0.2
requests==2.11.1
rpy2==2.8.5
ruamel-yaml===-VERSION
scikit-image==0.11.3
scikit-learn==0.18
scipy==0.18.1
seaborn==0.7.1
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.0.13
statsmodels==0.6.1
sympy==1.0
terminado==0.6
Theano==0.8.2
tornado==4.4.2
traitlets==4.3.0
vincent==0.4.4
wcwidth==0.1.7
widgetsnbextension==1.2.6
xlrd==1.0.0
